<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Configuracion vue and vuerify  -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<!-- Configuracion vue and vuerify  -->

	<title>{% block title %}{% endblock %}</title>

	{% load static %}

	{% block style %}
	{% endblock style %}

</head>
<body>
	<div id="app">
		<v-container v-if="showProgress" style="height: 100vh;" fill-height justify-center align-center>
			<v-layout justify-center align-center>
				<v-flex shrink>
					<v-progress-circular
						:size="130"
						:width="7"
						color="grey"
						:indeterminate="!indeterminate"
					></v-progress-circular>
				</v-flex>
			</v-layout>
		</v-container>

		<v-app v-else id="inspire">
			<v-navigation-drawer fixed :clipped="$vuetify.breakpoint.mdAndUp" app v-model="drawer">
				<v-list dense>
					<template v-for="item in routes">
						<v-list-group v-if="item.children" v-model="item.model" :key="item.text"
							:prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="" >

							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title >
										${ item.text }
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile v-for="(child, i) in item.children" :key="i" @click="" :href="child.url">
								<v-list-tile-action >
									<v-icon>${ child.icon }</v-icon>
								</v-list-tile-action>

								<v-list-tile-content>
									<v-list-tile-title>
										${ child.text }
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

						</v-list-group>

						<v-list-tile v-else @click="" :key="item.text" :href="item.url">
							<v-list-tile-action>
								<v-icon>${ item.icon }</v-icon>
							</v-list-tile-action>

							<v-list-tile-content>
								<v-list-tile-title>
									${ item.text }
								</v-list-tile-title>
							</v-list-tile-content>

						</v-list-tile>
						<v-divider inset></v-divider>
					</template>
				</v-list>
			</v-navigation-drawer>

			<v-toolbar color="blue darken-3" dark app :clipped-left="$vuetify.breakpoint.mdAndUp"	fixed>
				<v-toolbar-title style="width: 300px" class="ml-0 pl-3">
					<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
					<span class="hidden-sm-and-down">SGD - ETITC</span>
				</v-toolbar-title>

				<v-toolbar-title style="width: 500px" class="ml-0 pt-3">
					<v-autocomplete 
						:items="items"
						:search-input.sync="search" 
						cache-items
						class="hidden-sm-and-down"
						clearable
						color="info"
						v-model="route"
						hide-no-data
						suffix
						placeholder="Buscar Ruta ..."
						return-object
						solox
					></v-autocomplete>
				</v-toolbar-title>

				<v-btn icon @click="go" class="hidden-sm-and-down">
					<v-icon>search</v-icon>
				</v-btn>

				<v-spacer></v-spacer>

				<v-card color="blue darken-3" flat class="hidden-sm-and-down">
					<v-card-text class="py-0">
						<strong>{{ request.user.username | upper }}</strong>
					</v-card-text>
				</v-card>

				<v-menu bottom left>
					<v-btn
						slot="activator"
						dark
						icon
					>
						<v-icon>more_vert</v-icon>
					</v-btn>

					<v-list dense>
						<v-subheader two-line>
              {{ request.user.username | upper }}
            </v-subheader>

						<v-list-tile 
							v-for="(route, i) in subroutes"
							:key="i"
							@click=""
							:href="route.url"
						>
							<v-list-tile-content>
								<v-list-tile-title>
									${ route.text }
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-menu>
			</v-toolbar>

			<v-content>
				<v-container fluid fill-height>
					<v-layout row wrap white>
						{% block content %}
						
						{% endblock content %}
					</v-layout>
				</v-container>
			</v-content>
			
			<v-btn
				fab
				bottom
				right
				color="pink"
				dark
				fixed
				@click.stop="dialog = !dialog"
			>
				<v-icon>email</v-icon>
			</v-btn>

			<v-dialog v-model="dialog" width="800px">
				<v-card>
					<v-card-title class="grey lighten-4 py-4 title">
						Contactar Administrador
					</v-card-title>

					<v-container grid-list-sm class="pa-4">
						<v-layout row wrap>
							<v-form style="width: 100%" ref="form" v-model="formValid" lazy-validation>
								{% csrf_token %}
								<v-flex xs12 align-center justify-space-between>
									<v-layout align-center>
										<v-text-field
											clearable
											prepend-icon="subject"
											label="Asunto"
											v-model="sendMail.subject"
											:rules="rules.empty" 
										></v-text-field>
									</v-layout>
								</v-flex>
								<v-flex xs12>
									<v-text-field
										clearable
										prepend-icon="mail"
										label="Correo Electronico"
										v-model="sendMail.from_email"
										:rules="rules.email"
									></v-text-field>
								</v-flex>
								<v-flex xs12>
									<v-textarea 
										clearable
										prepend-icon="message"
										label="Mensaje"
										v-model="sendMail.message"
										:rules="rules.empty"
									></v-textarea>
								</v-flex>
								<v-flex xs12>
									<template>
										<v-progress-linear :indeterminate="progress.indeterminate" :active="progress.active"></v-progress-linear>
									</template>
								</v-flex>
								<v-flex xs12>
									<template>
										<div style="width: 100%">
											<v-alert 
												:value="sendMail.value" 
												:type="sendMail.type" 
												transition="scale-transition" 
												dismissible>
													${ sendMail.msg }
											</v-alert>
										</div>
									</template>
								</v-flex>
							</v-form>
						</v-layout>
					</v-container>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn flat color="primary" @click="dialog = false; clear()">Cerrar</v-btn>
						<v-btn flat color="primary" @click="send" :disabled="!formValid">Enviar</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-app>
	</div>

	<!-- Configuracion vue and vuerify  -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script type="text/javascript">

		Vue.options.delimiters = ['${', '}'];
		Vue.http.options.emulateJSON = true;
		Vue.http.interceptors.push(function(request) {
			request.headers.set('X-CSRFToken', getCookie('csrftoken'));
		});


		var getCookie = function(cname){
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i <ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
							c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
							return c.substring(name.length, c.length);
					}
			}
			return "";
		} 

		let page = {
			computed: {
				staff(){
					return "{{ request.user.is_staff }}" == "True";
				},
				items () {
					return this.entries.map(entry => {
						const Description = entry.text.length > this.descriptionLimit
							? entry.text.slice(0, this.descriptionLimit) + '...'
							: entry.text
	
						return Object.assign({}, entry, { Description })
					})
				}
			},
			data: {
				descriptionLimit: 60,
				entries: [],
				route: null,
				search: null,
			
				dialog: false,
				drawer: null,
				showProgress: true,
				indeterminate: false,
				routes: [],
				subroutes: [],
				paginate_by: [],
				profile: {
					dialog: true
				},
				select_paginate_by: parseInt('{{ paginate_by }}'),
				sendMail: {
					subject: '',
					from_email: '',
					message:'',
					value: false,
					type: 'info'
				},
				progress: {
					active: false,
					indeterminate: false
				},
				rules: {
					email: [
						v => !!v || 'Este campo es obligatorio',
						v => (v && /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(v)) || 'El valor no es un correo electronico valido' 
					],
					empty: [
						v => !!v || 'Este campo es obligatorio'
					]
				},
				formValid: true
			},
			methods: {
				go(){
						if (app.route.url)
							location.href = app.route.url;
				},
				send(){
					if (!this.$refs.form.validate())
						return;
	
					this.progress.active = true;
					this.progress.indeterminate = true;
	
					this.$http.post("{% url 'email'  %}", this.sendMail).then(res => {
						this.sendMail.msg = res.body.msg;
						this.sendMail.value = res.body.ok;
						this.sendMail.type = res.body.type;
						this.clear();
						this.closeAlert();
					}, res => {
						this.errorSendMail(res);
					});
				},
				errorSendMail(res){
					this.sendMail.msg = res.statusText;
					this.sendMail.value = true;
					this.sendMail.type = "error";
	
					this.progress = {
						active: false,
						indeterminate: false
					}
					this.closeAlert();
					console.log(res);
				},
				clear(){
					this.sendMail.subject = '';
					this.sendMail.from_email = '';
					this.sendMail.message = '';
	
					this.progress = {
						active: false,
						indeterminate: false
					}
	
					this.$refs.form.reset()
				},
				closeAlert(){
					setTimeout(() => {
						this.sendMail.value = false;
					}, 5000)
				},
				openProfileEdit(){
					this.profile.dialog = true;
				}
			},
			watch: {
				search (val) {
					if (this.items.length > 0) return
					//this.isLoading = true

					app.routes.forEach(route => {
						if (route.url)
							this.entries.push(route);

						if(route.children){
							route.children.forEach(child => {
								this.entries.push(child);
							})
						}
					})

					app.subroutes.forEach(route => {
						if (route.url)
							this.entries.push(route);
					})

					this.entries.sort((a, b) => {
						if (a.text > b.text) {
							return 1;
						}
						else if (a.text < b.text) {
							return -1;
						}
						return 0;
					})

					this.count = this.entries.length;

				}
			}
		}

	</script>

	{% block extra_vue_data %}
	{% endblock extra_vue_data %}

	<!-- configuracion vuejs -->
	<script type="text/javascript">
		
		let app = new Vue({
			el: '#app',
			computed: page.computed,
			data(){
				return page.data
			},
			created() {
				this.drawer = false;
				
				this.$http.get("{% static 'core/json/routes.json' %}").then((res) => {
					this.routes = res.body.routes;
					this.subroutes = res.body.subroutes;

					if (!this.staff)
						this.routes = this.routes.filter((route) => !route.admin)
				})
	
				this.paginate_by = [50, 100, 200, 300]
			},
			methods: page.methods,
			mounted() {
				setTimeout(() => {
					this.showProgress = !this.showProgress;
				}, 500);
			},
			watch: page.watch,
			props: {
				source: String
			}
		});	

	</script>
	
	{% block extra_vue %}
	{% endblock extra_vue %}
	<!-- Configuracion vue and vuerify  -->

</body>
</html>