{% extends "authentication/base.html" %}

{% load static %}

{% block title %}
Iniciar Sesión
{% endblock title %}

{% block content %}
<v-flex xs12 sm8 md5 lg4 >
  <v-form 
    method="POST" 
    ref="form" 
    v-model="valid" 
    lazy-validation
  >
    {% csrf_token %}

    <v-card>         
      <v-card-title>
        <div>
          <h3 style="text-align: center" class="headline mb-0">
						Iniciar Sesíon
					</h3> <br>
          <div>
            Por favor, ingrese su nombre de usuario y contraseña para continuar.
          </div>
        </div>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text>
					<v-text-field 
					class="mb-2"
					v-model="username"
					prepend-icon="person" 
					name="username" 
					label="Usuario"
					:rules="rules.username"
					:error-messages="error_messages.username"
					required>
				</v-text-field>
				<v-text-field 
					class="mb-2"
					v-model="password"
					prepend-icon="lock" 
					name="password" 
					label="Contraseña" 
					type="password"
					:rules="rules.password"
					:error-messages="error_messages.password"
					required>
				</v-text-field>

				<p class="error--text">{{ form.non_field_errors }}</p>
			</v-card-text>

      <v-progress-linear
        v-show="progress.show" 
        :indeterminate="progress.indeterminate"
        :active="progress.active"
        color="success"
       >
      </v-progress-linear>

      <v-card-actions>
				<v-btn 
					type="submit" 
					color="info" 
					flat
					block
					:disabled="!valid"
					@click.prevent="submit">
					Iniciar Sesión
				</v-btn>

				<v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon>${ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }</v-icon>
        </v-btn>
			</v-card-actions>
			
			<v-slide-y-transition>
        <v-card-text v-show="show" class="pa-1">
					<v-btn 
						flat 
						color="success"
						href="{% url 'password_reset' %}"
					>
						Olvide mi contrseña
					</v-btn>

					<v-btn 
						flat 
						color="success"
						href="{% url 'register_me' %}"
					>
						Registrarse
					</v-btn>
        </v-card-text>
			</v-slide-y-transition>
			
    </v-card>
	</v-form>
</v-flex>
{% endblock content %}