{% extends "authentication/base.html" %}

{% load static %}

{% block title %}
Restablecer Contraseña
{% endblock title %}

{% block content %}
<v-flex xs12 sm12 md6 lg4 >
  <v-form 
    method="POST" 
    ref="form" 
    v-model="valid" 
    lazy-validation

  >
    {% csrf_token %}

    <v-card>         
      <v-card-title>
        <div>
          <h3 style="text-align: center" class="headline mb-0">Escriba la nueva contraseña</h3> <br>
          <div>
            <p>
              Por favor, introduzca su contraseña nueva dos veces 
              para verificar que la ha escrito correctamente.
            </p>
          </div>
        </div>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text>
        <v-text-field
          type="password"
          name="new_password1"
          v-model="password"
          label="Contraseña Nueva"
          required
          prepend-icon="vpn_key"
          :rules="rules.password"
          clearable
        ></v-text-field>

        <v-text-field
          type="password"
          name="new_password2"
          v-model="password_confirm"
          label="Confirmar Contraseña"
          required
          prepend-icon="vpn_key"
          :rules="rules.password_user_confirm"
          :error-messages="error_messages.password_confirm"
          clearable
        ></v-text-field>
      </v-card-text>

      <v-progress-linear
        v-show="progress.show" 
        :indeterminate="progress.indeterminate"
        :active="progress.active"
        color="success"
       >
      </v-progress-linear>

      <v-card-actions>
        <v-btn 
          type="submit" 
          @click.prevent="submit" 
          :disabled="!valid" 
          flat 
          color="primary"
        >
          Guardar
        </v-btn>
        <v-btn 
          flat 
          color="primary"
          @click="back"
        >
          Regresar
        </v-btn>
      </v-card-actions>
    </v-card>

  </v-form>
</v-flex>
{% endblock content %}