{% extends "authentication/base.html" %}

{% load static %}

{% block title %}
Restablecer Contraseña
{% endblock title %}

{% block content %}
<v-flex xs12 sm12 md6 lg4 >
  <v-form 
    method="POST" 
    ref="form" 
    v-model="valid" 
    lazy-validation
    action="{% url 'password_reset' %}"
  >
    {% csrf_token %}

    <v-card>         
      <v-card-title>
        <div>
          <h3 style="text-align: center" class="headline mb-0">Restablecer Contraseña</h3> <br>
          <div>
            <p>
              <strong>¿Olvidaste tu contraseña?</strong> 
              
              Ingrese su dirección de correo electrónico a continuación, y le enviaremos 
              por correo electrónico las instrucciones para configurar una nueva.
            </p>
          </div>
        </div>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text>
        <v-text-field
          name="email"
          v-model="email"
          label="Correo Electrónico"
          required
          prepend-icon="email"
          :rules="rules.email"
          clearable
        ></v-text-field>
      </v-card-text>

      <v-progress-linear
        v-show="progress.show" 
        :indeterminate="progress.indeterminate"
        :active="progress.active"
        color="success"
       >
      </v-progress-linear>

      <v-card-actions>
        <v-btn 
          type="submit" 
          @click.prevent="submit" 
          :disabled="!valid" 
          flat 
          color="primary"
        >
          Enviar
        </v-btn>
        <v-btn 
          flat 
          color="primary"
          @click="back"
        >
          Regresar
        </v-btn>
      </v-card-actions>
    </v-card>

  </v-form>
</v-flex>

{% if 'success' in request.GET %}
<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="500"
      persistent
    >            
      <v-card>
        <v-card-title
          class="headline teal white--text"
          primary-title
        >
          Restablecer Contraseña
        </v-card-title>

        <v-card-text>
          <p>
          Le hemos enviado instrucciones por correo electrónico 
          para configurar su contraseña, si existe una cuenta con el 
          correo electrónico que ingresó. Debería recibirlas en breve
          </p>
          
          <p>
            Si no recibe un correo electrónico, asegúrese de haber 
            ingresado la dirección con la que se registró y revise 
            su carpeta de correo no deseado.
          </p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="teal"
            flat
            @click="dialog = false"
          >
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
{% endif %}

{% endblock content %}