{% extends "core/base.html" %}

{% load static %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block style %}
  <style type="text/css">
    ul.errorlist {
      padding-left: 0;
    }

    ul.errorlist li {
      list-style: none;
    }
  </style>
{% endblock style %}

{% block content %}
<template>
  <v-layout row  style="background-color: #fafafa">
    <v-flex  md6 xs12 sm6 offset-md3 offset-sm3>
      <v-card fluid grid-list-lg pa-4>
        <v-form 
          action="{% url 'passwd_change' %}"
          method="POST" 
          name="form"
          ref="formPasswordChange" 
          v-model="passwdchange.formValid" 
          class="mx-5 my-2" 
          lazy-validation
        >
          {% csrf_token %}
          <v-card-text primary-title hover class="text-md-center">
              <h2  class="headline">Cambiar Contraseña</h2>
          </v-card-text>

          <v-text-field 
            class="mb-2"
            v-model="passwdchange.old_password"
            prepend-icon="lock" 
            name="old_password" 
            label="Contraseña Antigua"
            type="password"
            :rules="passwdchange.rules.password"
            :error-messages="passwdchange.error_messages.old_password"
            required>
          </v-text-field>
          <v-text-field 
            class="mb-2"
            v-model="passwdchange.new_password"
            prepend-icon="lock" 
            name="new_password1" 
            label="Contraseña Nueva" 
            type="password"
            :rules="passwdchange.rules.password"
            :error-messages="passwdchange.error_messages.new_password"
            required>
          </v-text-field>
          <v-text-field 
            class="mb-2"
            v-model="passwdchange.new_password_confirm"
            prepend-icon="lock" 
            name="new_password2" 
            label="Contraseña Nueva (Confirmación)" 
            type="password"
            :rules="passwdchange.rules.password_confirm"
            :error-messages="passwdchange.error_messages.new_password_confirm"
            required>
          </v-text-field>
          <v-card-actions>
            <v-btn 
              type="submit" 
              color="info" 
              class="mb-1"
              large 
              block
              :disabled="!passwdchange.formValid"
              @click.prevent="passwordChange">
              Cambiar Contraseña
            </v-btn>
          </v-card-actions>
          {% if 'success' in request.GET %}
          <v-card-actions>
            <template>
              <v-alert
                style="width:100%"
                :value="true"
                type="success"
                dismissible
                transition="scale-transition"
              >
                La contraseña se cambio correctamente
              </v-alert>
            </template>
          </v-card-actions>
          {% endif %}
        </v-form>
      </v-card>
    
    </v-flex>
  </v-layout>
</template>
{% endblock content %}

{% block extra_vue_data %}

  <script type="text/javascript">

    page.data.passwdchange = {
      formValid: true,
      old_password: '',
      new_password: '',
      new_password_confirm: '',
      rules: {
        password: [
          v => !!v || 'Este campo es obligatorio',
          v => v.length >= 8 || 'La cantidad de caracteres no puede ser menor a 8'
        ],
        password_confirm: [
          v => !!v || 'Este campo es obligatorio',
          v => v.length >= 8 || 'La cantidad de caracteres no puede ser menor a 8',
          v => v == app.passwdchange.new_password || 'las contraseñas no son iguales'
        ]
      },
      error_messages: {
        old_password: '{{ form.old_password.errors }}',
        new_password: '{{ form.new_password1.errors }}',
        new_password_confirm: '{{ form.new_password2.errors }}'
      },
      messages: {
        new_password: '{{ form.new_password1.help_text  | safe  }}'
      }
    }

    page.methods.passwordChange = () => {
      if (app.$refs.formPasswordChange.validate()) {
        form.submit();
      }
    } 
  
  </script>
{% endblock extra_vue_data %}