{% extends "authentication/base.html" %}

{% load static %}

{% block title %}
Restablecimiento de Contraseña Completado
{% endblock title %}

{% block content %}

<v-flex xs12 sm12 md6 lg4 >
  <v-card>         
    <v-card-title>
      <div>
        <h3 style="text-align: center" class="headline mb-0">
          Restablecimiento de Contraseña Completado
        </h3> <br>
        <div>
          <p>
            Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.
          </p>
        </div>
      </div>
    </v-card-title>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn 
        flat 
        color="primary"
        href="{% url 'login' %}"
        large
        block
      >
        Iniciar Sesión
      </v-btn>

    </v-card-actions>
  </v-card>
</v-flex>
{% endblock content %}