{% extends "authentication/base.html" %}

{% load static %}

{% block title %}Registrarme{% endblock %}

{% block content %}
<v-flex  xs12 sm8 md5 lg4>
  <v-card fluid grid-list-lg pa-4>
    <v-form 
      method="POST" 
      ref="form" 
      v-model="valid" 
      lazy-validation
    >
      {% csrf_token %}

      <v-card-title>
        <div>
          <h3 style="text-align: center" class="headline mb-0">
						Registrarme
					</h3> <br>
          <div>
            Por favor primero introduzca un nombre de usuario y una contraseña. 
            Luego podrá editar el resto de información del usuario.
          </div>
        </div>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text>
        <v-text-field 
          class="mb-2"
          v-model="username"
          prepend-icon="lock" 
          name="username" 
          label="Nombre de Usuario"
          :rules="rules.username"
          :error-messages="error_messages.username"
          required>
        </v-text-field>
        <v-text-field 
          class="mb-2"
          v-model="password"
          prepend-icon="lock" 
          name="password1" 
          label="Contraseña Nueva" 
          type="password"
          :rules="rules.password"
          :error-messages="error_messages.password_user"
          required>
        </v-text-field>
        <v-text-field 
          class="mb-2"
          v-model="password_confirm"
          prepend-icon="lock" 
          name="password2" 
          label="Confirmar Contraseña" 
          type="password"
          :rules="rules.password_user_confirm"
          :error-messages="error_messages.password_user_confirm"
          required>
        </v-text-field>
      </v-card-text>

      <v-progress-linear
        v-show="progress.show" 
        :indeterminate="progress.indeterminate"
        :active="progress.active"
        color="success"
       >
      </v-progress-linear>

      <v-card-text>
        <v-btn 
          type="submit" 
          @click.prevent="submit" 
          :disabled="!valid" 
          flat 
          color="primary"
        >
          Registrarme
        </v-btn>

        <v-btn 
          color="info" 
          flat
          @click="back">
          Regresar
        </v-btn>
      </v-card-text>
     
    </v-form>
  </v-card>
</v-flex>

{% if 'success' in request.GET %}
<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      persistent
      width="500"
    >            
      <v-card>
        <v-card-title
          class="headline teal white--text"
          primary-title
        >
          Registrarme
        </v-card-title>

        <v-card-text>
          <p>
          El usuario se ha regisrado correctamente, por favor hacer clic en <strong>Iniciar Sesión</strong> para continuar.
          </p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="teal"
            flat
            @click="dialog = false"
            href="{% url 'login' %}"
          >
            Iniciar Sesión
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
{% endif %}

{% endblock content %}